{% extends "base.html"%} {%block title%} Level 1 {%endblock%} {% block content%}
<div class="row">
    <div class="col-sm-12">
        <h3>So.. let's discuss the Level 1 challenge</h3>
        <p style="margin-top:30px;">
            <code>function isPalindrome()</code>
            <br/>
            <br/>
            <strong>Parameters:</strong>
            <br/> input_string

            <br/>
            <br/>
            <strong>Sample Input: </strong>
            <br/> input_string = "Nurses run"
            <br/>
            <br/>
            <strong>Sample Output: </strong>
            <br/> true
            <br/>
            <br/>
            <strong>Time Complexity: </strong>
            <br/> O(1) - Constant time, no matter how big the input string is, it takes the same amount of time to get the palindrome
            <br/>
            <br/>
            <strong>Space Complexity: </strong>
            <br/> O(1)&nbsp;- Constant space
        </p>

        <a href="https://github.com/sarahjoy18/zigzag/blob/dev_python/level1.md"><button class="btn btn-primary">Read More...</button></a>
    </div>
</div>
{% endblock %}